# Convert number to text number

In [ ]:
# definition // = when divide it will not take decimal

In [403]:
def convert_to_words(num):  
    if num == 0:  
        return "zero"  
    ones = [" ", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]  
    tens = ["", "ten", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]  
    teens = ["","ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]  
    words = ""  
    
    #To convert number from 10,000 until 99,999
    if num>= 10000:
        words += tens[num // 10000] + " "
        num %= 10000
        if num>= 1000:
            words += ones[num // 1000] + " thousand "
            num %= 1000
        if num>= 100:  
            words += ones[num // 100] + " hundred " 
            num %= 100 
        if num>= 10 and num<= 19:  
            words += teens[num - 10] + " "  
            num = 0  
        elif num>= 20:
            words += tens[num // 10] + " "  
            num %= 10 
        if num>= 1 and num<= 9:  
            words += ones[num] + "  "
        if num == 0:
                words += " thousand"
        return words.strip() 
    #To convert number from 1000 until 9999
    if num>= 1000:  
        words += ones[num // 1000] + " thousand "
        num %= 1000
    #To convert number from 100 until 999
    if num>= 100:  
        words += ones[num // 100] + " hundred " 
        num %= 100 
    #To convert number from 10 until 19
    if num>= 10 and num<= 19:  
        words += teens[num-10] + " "  
        num = 0  
    #To convert number from 20 until 99
    elif num>= 20:
        words += tens[num // 10] + " "  
        num %= 10 
    #To convert number from 1 until 9 
    if num>= 1 and num<= 9:  
        words += ones[num] + " "  
    return words.strip()

In [404]:
 num = int(input("Enter a number: "))  
words = convert_to_words(num)  
print(words)

Enter a number: 99999
ninety nine thousand nine hundred ninety nine

# Convert text number to number

In [409]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5567 sha256=38a507f552c869cfa5a0df788411ce938f04b97e0c7a8716ce3dc0c57226b3dc
  Stored in directory: c:\users\userr\appdata\local\pip\cache\wheels\a0\4a\5b\d2f2df5c344ddbecb8bea759872c207ea91d93f57fb54e816e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [423]:
import pandas as pd
from word2number import w2n

In [416]:
data=pd.read_csv('test.csv', encoding= 'unicode_escape' )

In [424]:
data.Number=  data.Number.apply(w2n.word_to_num)

In [426]:
data

   Number
0      21
1      35

In [410]:
#def wordnumber(num2):
    #from word2number import w2n
    #print(w2n.word_to_num(num2))

In [412]:
#num2 = str(input("Enter a number: "))  
#words = wordnumber(num2)  
#print(words)

Enter a number: ninety nine thousand
99000